<footer id="footer">
    <div class="container-fluid">
        <div class="row text-center padding">
            <div class="col-12">
                <h1 style="margin-bottom: -22px;">WorkoutXpress</h1>
                <hr class="light">
            <p>123-456-7890</p>
            <p>aaronmarino@gmail.com</p>
            <p>Greater Raleigh, NC 00000-0000</p>
                <h2 style="color:slategray; font-weight: bold;">Connect With Us</h2>
                <div class="col-12 social padding">
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram" style="resize: 60px;"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
