<footer id="footer">
    <div class="container-fluid">
        <div class="row text-center padding">
            <div class="col-12">
                <h1>WorkoutXpress</h1>
                <hr class="light">
            <p>123-456-7890</p>
            <p>aaronmarino1979@gmail.com</p>
            <p>Greater Raleigh, NC 00000-0000</p>
                <h2 style="color:slategray; font-weight: bold;">Connect With Us</h2>
                <div class="col-12 social padding">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>

<!-- <div class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <h1>WorkoutXpress</h1>
            <hr class="light">
            <p>123-456-7890</p>
            <p>aaronmarino1979@gmail.com</p>
            <p>Greater Raleigh, NC 00000-0000</p>
        </div>
    </div>
</div> -->
</footer>
