<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/workoutxpress"><h1>WorkoutXpress</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/workoutxpress">Home<span class="sr-only"></span></a>
            </li>
            <% if (currentUser) { %>
            <li class="nav-item">Welcome <%= currentUser.username %></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Workouts
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/workoutxpress/new">Create a Workout</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/workoutxpress/workouts">Past Workouts</a>
              </div>
            </li>
            <!-- <li class="nav-item active"><a href="/workoutxpress/new">Create</a></li>
            <li class="nav-item active"><a class="pastWorkout" href="/workoutxpress/workouts">Past Workouts</a></li> -->
            <li class="nav-item active">
              <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-primary" value="Log Out" />
              </form>
            </li class="nav-item active">
            <% } else { %>
            <li><a href="/users/new">Sign Up</a></li>
            <li class="nav-item active"><a href="/sessions/new">Log In</a></li>
          <% } %>
        </ul>
      </div>
    </div>
</nav>
<!-- bootstrap code from: getbootstrap.com docs & Drew Ryan https://youtu.be/9cKsq14Kfsw -->
