<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>WorkoutXpress</title>
</head>

<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <div class="container">
        <div>
            <h1 class="display-name">Welcome</h1>
            <p class="welcome-msg">Going to the gym, home-workouts, and bootcamps all take planning if you want to see results. I have found that it is a good practice to write things down when I exercise and especially if I lead workouts or bootcamps. The problem is it can be difficult to look back at a sweaty piece of paper while leading! I created this app to help me when leading F3 bootcamps at Falcon and South Parks. My hope is that others that lead with me can use this tool as well to help them plan and store their information electronically.</p>
        </div>
    </div>

    <!-- Profile Cards -->
    <div class="container-fluid padding" style="padding-bottom: 1.5rem; padding-top: 1.4rem;">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="../imgs/group-3.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">South Park</h4>
                        <p class="card-text">We've been doing early morning workouts for 3 years now. We love working
                            hard and it all for free!</p>
                        <a href="https://www.fuquay-varina.org/facilities/facility/details/southpark-23"
                            class="btn btn-outline-secondary">More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="../imgs/group-1.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Falcon Park</h4>
                        <p class="card-text">We want to pump you up! Come out to Falcon Park for to get your sweat on!
                        </p>
                        <a href="https://www.fuquay-varina.org/facilities/facility/details/falconpark-9"
                            class="btn btn-outline-secondary">More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="../imgs/group-2.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Old Honeycutt Rd Park</h4>
                        <p class="card-text">We offer a variety of upper body, lower body, static, cardio workouts.</p>
                        <a href="https://www.fuquay-varina.org/Facilities/Facility/Details/Old-Honeycutt-Road-Park-17"
                            class="btn btn-outline-secondary">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <%- include('./partials/footer.ejs') %>
</footer>

</html>