<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workoutxpress</title>
</head>

<body>
    <nav>
        <h2>Workoutxpress</h2>
        <span><a class="newWorkout" href="/workoutxpress/new">Create</a></span>
        <span><a class="pastWorkout" href="/workoutxpress/workouts">Past Workouts</a></span>
    </nav>
    <img src="../imgs/weight-lifting-1284616_1920.jpg" alt="weights"/>
    <div class="container">
        <div>
            <h1>Welcome to Workoutxpress</h1>
        </div>
    </div>
</body>

</html>