<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Workout</title>
</head>
<body>
    <nav>
        <h2>Workoutxpress</h2>
        <span><a class="homePage" href="/workoutxpress">Home</a></span>
        <span><a class="pastWorkout" href="/workoutxpress/index">Past Workouts</a></span>
    </nav>
    <h1>New Workout</h1>
    <form action="/workoutxpress/workouts/index" method="POST">
        <input type="text" name="name" placeholder="workout name"/><br/>
        <input type="date" name="date" placeholder="date"><br/>
        <textarea name="description" placeholder="exercises"></textarea><br/>
        Upper Body: <input type="checkbox" name="upperBody" /><br/>
        Lower Body: <input type="checkbox" name="lowerBody" /><br/>
        Cardio: <input type="checkbox" name="cardio" /><br/>
        Static: <input type="checkbox" name="static" /><br/>
        Weight Training: <input type="checkbox" name="weightTraining" /><br/>
        <input type="submit" value="Create Workout"/>
    </form>
</body>
</html>