<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>New Workout</title>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <h1>New Workout</h1>
    <form action="/workoutxpress/workouts" method="POST">
        <input type="text" name="name" placeholder="workout name"/><br/>
        <input type="date" name="date" placeholder="date"><br/>
        <textarea name="description" placeholder="exercises"></textarea><br/>
        Upper Body: <input type="checkbox" name="upperBody" /><br/>
        Lower Body: <input type="checkbox" name="lowerBody" /><br/>
        Cardio: <input type="checkbox" name="cardio" /><br/>
        Static: <input type="checkbox" name="static" /><br/>
        Weight Training: <input type="checkbox" name="weightTraining" /><br/>
        <input type="submit" value="Create Workout"/>
    </form>
</body>
</html>