body {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#sign-in-container {
    background-color: darkgrey;
    color: whitesmoke;
    max-width: 500px;
    margin: 0px;
    padding: 2rem;
}