body {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: darkgray;
}

#sign-in-container {
    background-color: darkgrey;
    color: whitesmoke;
    max-width: 500px;
    margin: 0px;
    padding: 2rem;
}

li .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem; 
    font-size: 22px;
}

.display-name {
    text-align: center;
    color:rgb(194, 194, 136); 
    font-size: 700%; 
    font-weight: bold;
}
/* Home Page */
.welcome-msg {
    color: steelblue;
    font-size: 200%;
    background-color: rgb(156, 184, 177); 
    width: 100%;
    border-radius: 4px;
    padding: 10px;
}

.card {
    height: 450px !important;
    padding-bottom: 1rem !important;
}

.card-img-top {
    height: 220px !important;
}

/* Footer Section */
footer {
    background-color: darkgrey;
    margin: 0px;
    padding: .75rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 295px;
    width: 100%;
}

.social a {
    font-size: 2em;
    padding: 1rem;
}

/*___Media Queries___ */
@media (max-width: 992px) {
    .display-name {
        font-size: 600%; 
    }
}

@media (max-width: 768px) {
    .display-name {
        font-size: 500%; 
    }
}

@media (max-width: 576px) {
    .display-name {
        font-size: 400%; 
    }
}