<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head.ejs') %>
        <title>Login</title>
    </head>

<body>
    <nav>
        <%- include('../partials/nav.ejs') %>
     </nav>
    <div id="sign-in-container">
        <h2>Login</h2>
        <form action="/sessions" method="POST">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username"/><br />
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password"/><br />
            <input type="submit" class="btn btn-primary"></input>
        </form>
    </div>
</body>
</html>