<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head.ejs') %>
        <title>Login</title>
    </head>

<body>
    <nav>
        <%- include('../partials/nav.ejs') %>
     </nav>
    <div id="sign-in-container">
        <h1>Login</h1>
        <form action="/sessions" method="POST">
            Username: <input type="text" name="username"><br />
            Password: <input type="password" name="password" /><br />
            <input type="submit" value="Login" />
        </form>
    </div>
</body>
</html>