<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Sign Up</title>
</head>

<body>
    <nav>
        <%- include('../partials/nav.ejs') %>
    </nav>
    <div id="sign-in-container">
        <h1>Sign Up</h1>
        <form action="/users" method="POST">
            Username: <input type="text" name="username"><br />
            Password: <input type="password" name="password" /><br />
            <input type="submit" value="Sign up" />
        </form>
    </div>
</body>

</html>